@font-face {
    font-family: 'Circe';
    src: url('Circe-Bold.woff2') format('woff2'),
        url('Circe-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('Circe-Regular.woff2') format('woff2'),
        url('Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Intro Script R H2 Base';
    src: url('IntroScriptR-H2Base.woff2') format('woff2'),
        url('IntroScriptR-H2Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
