@media screen and (min-width: $screen-s) {

    .filling__content {
        max-width: 425px;
        margin: auto;
    }
}

@media screen and (min-width: $screen-m) {

    .filling__content {
        max-width: 660px;
        margin-left: auto;
    }
}
