.products {
    margin-top: -140px;
    padding-top: 60px;
}
@media screen and (min-width: $screen-s) {
    .products {
        margin-top: 0px;
    }
}

@media screen and (min-width: $screen-m) {
    .products {
        margin-top: -140px;
    }
}
