.decor__image {
    margin: 0 auto;
    box-shadow: 0 2px 5px 1px rgba(163, 6, 60, 0.1);
}

.pt-card:hover .decor__image img {
    transform: scale(1.1);
    box-shadow: 0 2px 5px 1px rgba(163, 6, 60, 0.1);
}
.pt-card:hover .decor__image {

    margin-bottom: 10px;
}
@media screen and (max-width: $screen-xs-max) {

    .decor__image {
        width: 169px;
        margin: 5px;
        margin-bottom: 30px;
    }
}
@media screen and (min-width: $screen-s) {

    .decor__image {
        width: 197px;
        margin: 10px;
    }
}
@media screen and (min-width: $screen-m) {

    .decor__image {
        width: 321px;
    }
}
