@media screen and (max-width: $screen-s-max) {

    .new-menu__nav_s_view {
        flex-direction: column;
        width: 320px;
        background: #e7e7e7;
        position: absolute;
        top: 60px;
        left: 0;
    }
    .new-menu__nav_s_view .new-menu__item {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 17px 0 14px;
        border-top: 1px solid #dfdfdf;
    }
}
