
 .reviews {
    text-align: center;
    background-size: auto;
}

@media screen and (max-width: $screen-xs-max) {
    .reviews {
        /* padding-bottom: 25px; */
    }
}

@media screen and (min-width: $screen-s) {
    .reviews {
        background-image: url('../../img/reviews/reviews-bg-left-tablet.png'),
                url('../../img/reviews/reviews-bg-right-tablet.png');
        background-repeat: no-repeat, no-repeat;
        background-position: 0 0, 100% 0;
        background-size: 310px;
    }
    .reviews .pt-icon-plus__block {
        text-align: left;
    }
    .reviews .pt-icon-plus__icon {
        margin-right: 25px;
    }
}

@media screen and (min-width: $screen-m) {
    .reviews {
        background-image: url('../../img/reviews/reviews-bg-left-desktop.png'),
                url('../../img/reviews/reviews-bg-right-desktop.png');
        background-repeat: no-repeat, no-repeat;
        background-position: 0 0, 100% 0;
        background-size: 310px;
    }
}

@media screen and (min-width: $screen-l) {
    .reviews {
        background-image: url('../../img/reviews/reviews-bg-left-desktop.png'),
                url('../../img/reviews/reviews-bg-right-desktop.png');
        background-repeat: no-repeat, no-repeat;
        background-position: 0 0, 100% 0;
        background-size: 510px;

    }
    .reviews .pt-icon-plus__block {
        text-align: left;
    }
    .reviews .pt-icon-plus__icon {
        margin-right: 53px;
    }
}
