.reviews__subtitle {
    margin-top: 0;
}
@media screen and (min-width: $screen-xs) {

    .reviews__subtitle {
        font-size: 12px;
    }
}

@media screen and (min-width: $screen-s) {

    .reviews__subtitle {
        font-size: 14px;
        text-align: left;
    }
}

@media screen and (min-width: $screen-m) {

    .reviews__subtitle {
        font-size: 20px;
        text-align: left;
    }
}
