.new-menu__logo {
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 16px;
    line-height: 18px;
}

@media screen and (min-width: $screen-s) {
    .new-menu__logo {
        font-size: 20px;
        line-height: 22px;
    }
}
@media screen and (min-width: $screen-m) {
    .new-menu__logo {
        font-size: 23px;
        line-height: 25px;
    }
}
