@media screen and (min-width: $screen-xs) {

    .product_size_large {
        height: 120px;
    }
}

@media screen and (min-width: $screen-s) {

    .product_size_large {
        height: 388px;
    }
}

@media screen and (min-width: $screen-m) {

    .product_size_large {
        height: 653px;
    }
}
