@media screen and (min-width: $screen-s) {

    .decor__content {
        max-width: 450px;
        margin-left: auto;
    }
}

@media screen and (min-width: $screen-m) {

    .decor__content {
        max-width: 690px;
        margin-left: auto;
    }
}
@media screen and (min-width: $screen-l) {

    .decor__content {
        max-width: 720px;
        margin-left: auto;
    }
}
