
@media screen and (max-width: $screen-s-max) {

    .carousel__control_s-view_circle {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);
        text-align: center;
    }
}
