@media screen and (min-width: $screen-xs) {

    .pt-card__content_view_size {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-size: 14px;
        min-height: 140px;
    }
}
@media screen and (min-width: $screen-s) {

    .pt-card__content_view_size {
        font-size: 12px;
    }
}

@media screen and (min-width: $screen-m) {

    .pt-card__content_view_size {
        font-size: 18px;
        line-height: 30px;
    }
}
