
@media screen and (max-width: $screen-xs-max) {

    .new-menu__nav {
        position: absolute;
        left: 0px;
        top: 60px;
        width: 100%;
        background: #e7e7e7;
    }
}
@media screen and (min-width: $screen-s) {

    .new-menu__nav .pt-list {
        position: absolute;
        left: 0px;
        top: 60px;
        width: 320px;
        background: #e7e7e7;
    }
}

@media screen and (min-width: $screen-m) {

    .new-menu__nav .pt-list {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
        top: 0;
        left: 0;
        background: inherit;
        width: fit-content;
        position: relative;
    }
}
