.product__image_card_4 {
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: $screen-xs-max) {

    .product__image_card_4  {
        background-image: url(menCake-mobile.jpg);
        height: 120px;
    }
}

@media screen and (min-width: $screen-s) {

    .product__image_card_4  {
        background-image: url(menCake-tablet.jpg);
        height: 184px;
    }
}
@media screen and (min-width: $screen-l) {

    .product__image_card_4  {
        background-image: url(menCake-desktop.jpg);
        height: 305px;
    }
}
