.product__image_card_5  {
    background-color: #f3f3f5;
}
@media screen and (max-width: $screen-xs-max) {

    .product__image_card_5  {
        background-image: url(kidsCake-mobile.jpg);
    }
}

@media screen and (min-width: $screen-s) {

    .product__image_card_5  {
        background-image: url(kidsCake-tablet.jpg);
    }
}
@media screen and (min-width: $screen-m) {

    .product__image_card_5  {
        background-image: url(kidsCake-desktop.jpg);
    }
}
