@media screen and (max-width: $screen-xs-max) {

    .product__image_card_4  {
        background-image: url(menCake-mobile.jpg);
    }
}

@media screen and (min-width: $screen-s) {

    .product__image_card_4  {
        background-image: url(menCake-tablet.jpg);
    }
}
@media screen and (min-width: $screen-m) {

    .product__image_card_4  {
        background-image: url(menCake-desktop.jpg);
    }
}
