@media screen and (max-width: $screen-xs-max) {

    .product__image_card_2  {
        background-image: url(../mousCake-mobile.jpg);
    }
}

@media screen and (min-width: $screen-s) {

    .product__image_card_2  {
        background-image: url(../mousCake-tablet.jpg);
    }
}
@media screen and (min-width: $screen-m) {

    .product__image_card_2  {
        background-image: url(../mousCake-desktop.jpg);
    }
}
