@media screen and (min-width: $screen-xs) {

    .button_width_large {
        width: 226px;
        height: 51px;
        border-radius: 26px;
    }
}
@media screen and (min-width: $screen-s) {

    .button_width_large {
        width: 160px;
        height: 43px;
        border-radius: 22px;
    }
}
@media screen and (min-width: $screen-m) {

    .button_width_large {
        width: 226px;
        height: 51px;
        border-radius: 26px;
    }
}
