@media screen and (min-width: $screen-s) {

    .size__image-wrapper_size_extralarge {
        width: 175px;
        height: 175px;
    }
}

@media screen and (min-width: $screen-m) {

    .size__image-wrapper_size_extralarge {
        width: 240px;
        height: 240px;
    }
}
