@media screen and (min-width: $screen-s) {

    .size__image-wrapper_size_small {
        width: 110px;
        height: 110px;
    }
}

@media screen and (min-width: $screen-m) {

    .size__image-wrapper_size_small {
        width: 140px;
        height: 140px;
    }
}
