
@media screen and (max-width: $screen-xs-max) {

    .pt-card_view_filling {
        width: 241px;
        padding-bottom: 25px;
    }
}


@media screen and (min-width: $screen-s) {

    .pt-card_view_filling {
        width: 416px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 55px;
    }
}


@media screen and (min-width: $screen-m) {

    .pt-card_view_filling {
        width: 653px;
        padding-bottom: 92px;
    }
}
