@media screen and (max-width: $screen-xs-max) {

    .pt-card_view_size {
        width: 180px;
        padding-bottom: 25px;
    }
}
@media screen and (min-width: $screen-s) {
    .pt-card_view_size {
        width: 160px;
    }

}
@media screen and (min-width: $screen-m) {

    .pt-card_view_size {
        width: 210px;
    }
}
