.new-menu {
    height: 60px;
    border-bottom: 1px solid var(--color-bg-border);
    box-sizing: border-box;
    width: 100%;
    z-index: 100;
}

@media screen and (max-width: $screen-s-max) {

    .new-menu {
        background-color: #fff;
        padding: 0 45px;
    }
}

@media screen and (max-width: $screen-xs-max) {

    .new-menu {
        padding: 0 20px;
    }
}

@media screen and (min-width: $screen-m) {

    .new-menu {
        width: 100%;
        position: fixed;
        display: flex;
        flex-grow: 1;
        background-color: #fff;
        padding: 0 var(--gap);
    }
}
