@media screen and (min-width: $screen-xs) {

    .text_size_xs-20-s-18-m-27 {
        font-size: 20px;
        line-height: 22px;
    }
}

@media screen and (min-width: $screen-s) {
    .text_size_xs-20-s-18-m-27 {
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (min-width: $screen-m) {

    .text_size_xs-20-s-18-m-27 {
        font-size: 27px;
        line-height: 27px;
    }
}
