@media screen and (min-width: $screen-xs) {

    .text_size_xs-16-s-18-m-20 {
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (min-width: $screen-s) {
    .text_size_xs-16-s-18-m-20 {
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (min-width: $screen-m) {

    .text_size_xs-16-s-18-m-20 {
        font-size: 20px;
        line-height: 22px;
    }
}
