
@media screen and (max-width: $screen-xs-max) {

    .text_size_h1 {
        font-size: var(--size-typo-xxxl);
        line-height: var(--line-height-typo-xxxl);
    }
}

@media screen and (min-width: $screen-s) {

    .text_size_h1 {
        font-size: var(--size-typo-xxxxl);
        line-height: var(--line-height-typo-xxxxl);
    }
}

@media screen and (min-width: $screen-m) {

    .text_size_h1 {
        font-size: var(--size-typo-xxxxxl);
        line-height: var(--line-height-typo-xxxxxl);
    }
}
