@media screen and (min-width: $screen-xs) {

    .text_size_xs-0-s-12-m-0 {
        font-size: 0;
        line-height: 0;
    }
}

@media screen and (min-width: $screen-s) {
    .text_size_xs-0-s-12-m-0 {
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (min-width: $screen-m) {

    .text_size_xs-0-s-12-m-0 {
        font-size: 0;
        line-height: 0;
    }
}
