@media screen and (min-width: $screen-xs) {

    .text_size_xs-28-s-18-m-28 {
        font-size: 28px;
        line-height: 30px;
    }
}

@media screen and (min-width: $screen-s) {
    .text_size_xs-28-s-18-m-28 {
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (min-width: $screen-m) {

    .text_size_xs-28-s-18-m-28 {
        font-size: 28px;
        line-height: 30px;
    }
}
