.hero__intro {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}
@media screen and (max-width: $screen-xs-max) {
    .hero__intro {
        margin-top: 85px;
        align-self: center;
        height: 370px;
    }
    .hero__intro .button {
        align-self: center;
    }
}


@media screen and (min-width: $screen-s) {
   .hero__intro {
        margin-top: 73px;
    }

}

@media screen and (min-width: $screen-m) {
   .hero__intro {
        margin-top: 120px;
    }
}
