
.contacts {
    padding-top: 60px;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
}
@media screen and (min-width: $screen-s) {

    .contacts {
        background-image: url(contacts-desktop.jpg);
        background-size: 60%;
    }
}
@media screen and (min-width: $screen-m) {

    .contacts {
        background-image: url(contacts-desktop.jpg);
        background-size: 75%;
    }
}
@media screen and (min-width: $screen-l) {

    .contacts {
        background-image: url(contacts-desktop.jpg);
        background-size: auto;
    }
}
