
.contacts {
    padding-top: 60px;
}
@media screen and (min-width: $screen-s) {
    .contacts {
        background-image: url(../../img/contacts/contacts.jpg);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position-x: 100%;
        background-position-y: 100%;

    }
}

@media screen and (min-width: $screen-m) {
    .contacts {
        background-image: url(../../img/contacts/contacts.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        background-position-x: 100%;
        background-position-y: 100%;
    }
}
