
@media screen and (min-width: $screen-s) {

    .size__image_size_small {
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width: $screen-m) {

    .size__image_size_small {
        width: 110px;
        height: 110px;
    }
}
