@media screen and (min-width: $screen-s) {

    .size__image_size_medium {
        width: 110px;
        height: 110px;
    }
}

@media screen and (min-width: $screen-m) {

    .size__image_size_medium {
        width: 155px;
        height: 155px;
    }
}
