@media screen and (max-width: $screen-xs-max) {
    .footer__nav.new-menu {
        height: 100%;
    }
}
@media screen and (min-width: $screen-xs) {
    .footer__nav.new-menu {
        background-color: #898989;
        padding: 0;
    }
    .footer__nav > .new-menu__item {
        padding: 10px 0 10px;
    }
}
@media screen and (min-width: $screen-s) {

    .footer__nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #a09e9e;
        order: 1;
    }
}

@media screen and (min-width: $screen-m) {
    .footer__nav {

        width: 85%;
        border-bottom: none;
    }
    .footer__nav.new-menu {
        position: static;
    }
}
