
@media screen and (min-width: $screen-s) {

    .footer__nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #ababab;
        order: 1;
    }
}

@media screen and (min-width: $screen-m) {

    .footer__nav {
        width: 89%;
        border-bottom: none;
    }
}
