@media screen and (min-width: $screen-s) {

    .contacts__section-right {
        padding-left: 67px;
        padding-top: 25px;
    }
}

@media screen and (min-width: $screen-m) {

    .contacts__section-right {
        padding-left: 82px;
        padding-top: 40px;
    }
}
