
.reviews__link {
    margin-bottom: 0;
    color: #f87b91;
    font-style: italic;
    text-decoration: underline;
}
@media screen and (min-width: $screen-xs) {

    .reviews__link {
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (min-width: $screen-s) {

    .reviews__link {
        font-size: 16px;
    }
}

@media screen and (min-width: $screen-m) {

    .reviews__link {
        font-size: 16px;
    }
}
