@media screen and (max-width: $screen-xs-max)  {

    .carousel__paginator {
        position: absolute;
        background-color: transparent;
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: $screen-s)  {

    .carousel__paginator {
        display: none;
    }
}
