@media screen and (max-width: $screen-xs-max) {
    .pt-card__image_view_decor {
        max-width: 170px;
        height: 200px;
        margin: 0 auto;
        transition: .3s ease;
        box-shadow: 0 0 20px -10px rgba(0,0,0,.75);
        margin-bottom: 35px;
        overflow: hidden;
    }
}

@media screen and (min-width: $screen-s) {

    .pt-card__image_view_decor {
        width: 196px;
        align-items: flex-end;
    }
}
@media screen and (min-width: $screen-l) {
    .pt-card__image_view_decor {
        align-items: flex-end;
        width: 321px;
        height: 210px;
    }
}
