.size__wrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 15px;
    margin: 0 auto;
}
@media screen and (min-width: $screen-s) {
    .size__wrapper {
        width: 100%;
        height: 100%;
    }
}
