.delivery {
    background-color: #e3353d;
}
@media screen and (max-width: $screen-xs-max) {

    .delivery {
        background-image: url('delivery-mobile.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 100%;
    }
}

@media screen and (min-width: $screen-s) {

    .delivery {
        background-image: url('delivery-tablet.jpg');
        background-color: #e3353d;
        background-repeat: no-repeat;
        background-size: cover;
    }

}
@media screen and (min-width: $screen-l) {

    .delivery {
        background-image: url('delivery-desktop.jpg');
        background-color: #e3353d;
        background-repeat: no-repeat;
    }

}
