.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: $screen-xs-max) {

    .hero {
        background-image: url('../../img/hero/hero-mobile.png');
        background-position-y: top;
    }
}
@media screen and (min-width: $screen-s)  {

    .hero {
        background-image: url('../../img/hero/hero-tablet.png');
        background-position-x: right;
        background-position-y: bottom;
    }
}
@media screen and (min-width: $screen-m) {

    .hero {
        background-image: url('../../img/hero/hero-desktop.png');
        background-position-x: right;
        background-position-y: 60px;
    }
}
@media screen and (min-width: $screen-l) {

    .hero {
        background-image: url('../../img/hero/hero-desktop.png');
        background-position-x: right;
        background-position-y: 60px;
    }
}
